body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #DFE0E2;
   margin: 0;
   padding: 0;
   text-align: center;
}

li {
   list-style: none;
   width: 300px;
   margin: 10px;
   padding: 15px;
   background-color: #75ABBC;
   border-radius: 5px;
   box-shadow: 0 4px 6px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

img {
   max-width: 100%;
   border-radius: 5px;
   margin-bottom: 5px;
}

#boton-refrescar {
   margin-bottom: 20px;
   padding: 10px 20px;
   font-size: 16px;
   background-color: #75ABBC;
   color: #071013;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

#boton-refrescar:hover {
   background-color: #23B5D3;
}

#seccion-noticias {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   padding: 20px;
   width: 100%;
}

#cuerpo-noticias {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
   justify-content: flex-start;
}

#lista-articulos {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   padding: 0;
   width: 100%;
}

a {
   text-decoration: none;
}

.fuente {
   font-weight: bold;
}

.fecha, .autor {
   font-size: small;
}